* {
  font-weight: 100 !important;
}

select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -webkit-background-clip: padding !important;
  -moz-background-clip: padding !important;
  background-clip: padding-box !important;
  -webkit-border-radius:5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius:5px !important;
  -o-border-radius:5px !important;
  border-radius:5px !important;
  -webkit-appearance: none !important;
  background-color: #fff !important;
  color: #000 !important;
  outline: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  text-align: left !important;
  height: 1em !important;
  vertical-align: middle !important;
  padding: 12px !important;
}
select,
select,
select {
  background: #fff url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
  background-repeat: no-repeat !important;
  background-position: 97% center !important;
  padding: 0 5px 0 8px !important;
  height: auto !important;
  font-size: 100%  !important;
}
input.field.text {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -webkit-background-clip: padding !important;
  -moz-background-clip: padding !important;
  background-clip: padding-box !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  border-radius: 5px !important;
  -webkit-appearance: none !important;
  background-color: #fff !important;
  color: #000 !important;
  outline: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  text-align: left !important;
  height: 1em !important;
  vertical-align: middle !important;
  padding: 10px !important;
}
textarea,
.textarea {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -webkit-background-clip: padding !important;
  -moz-background-clip: padding !important;
  background-clip: padding-box !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  border-radius: 5px !important;
  padding: 10px !important;
}
input[type="radio"] {
  padding: 10px !important;
}
button,
.button,
input[type="submit"] {
  background: #dddddd !important;
  border-color: #c4c4c4 !important;
  border: thin solid !important;
  padding: 10px !important;
  border-radius: 10px !important;
  font-size: 14px !important;
}
button:focus,
.button:focus,
input[type="submit"]:focus {
  outline: none !important;
  background: #aaaaaa !important;
  border-color: #444444 !important;
  color: white !important;
  font-size: 14px !important;
}
.safari select.select{
  font-size:100% !important;
}

form li div label, form li span label,
form li div label, form li span label{
  font-size: 11px !important; 
}

.safari input.btTxt {
  font-size: 14px !important;  
}
